*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    background-color: black;
    height: 85vh;
    width: 60vh;
    border: 1px solid;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 50px;
    position: absolute;
}
#input{
    display:flex;
    margin: 0;
    padding:0.5rem;
    height:80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 3.5rem;
    align-items: center;
    justify-content: flex-end;
    max-width: 400px;

}
button{
    margin: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
    font-size: xx-large;
    background-color: rgba(128, 128, 128, 0.375);
    color: white;
    border: none;
    font-weight: 100;
}

#a,#b,#c{
    background-color: rgba(202, 201, 201, 0.792);
    color: black;
}

.d{
    background-color: rgb(255, 81, 0);
}

